<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdb.demo.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.zdb.demo.entity.Menu">
        <!--
        @mbggenerated
        -->
        <id column="menu_id" jdbcType="INTEGER" property="menuId" />
        <result column="menu_store_id" jdbcType="INTEGER" property="menuStoreId" />
        <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
        <result column="menu_price" jdbcType="DECIMAL" property="menuPrice" />
        <result column="menu_discount" jdbcType="DECIMAL" property="menuDiscount" />
        <result column="menu_sales" jdbcType="BIGINT" property="menuSales" />
        <result column="menu_img" jdbcType="VARCHAR" property="menuImg" />
        <result column="menu_type" jdbcType="INTEGER" property="menuType" />
        <result column="menu_flavor" jdbcType="INTEGER" property="menuFlavor" />
        <result column="menu_star" jdbcType="INTEGER" property="menuStar" />
        <result column="menu_star_pecent" jdbcType="DECIMAL" property="menuStarPecent" />
        <result column="menu_del" jdbcType="INTEGER" property="menuDel" />
        <result column="menu_is_nice" jdbcType="INTEGER" property="menuIsNice" />
        <result column="is_collect" jdbcType="BOOLEAN" property="isCollect" />
    </resultMap>
    <select id="getMenuList" resultType="com.zdb.demo.entity.Menu">
        SELECT
             m.menu_id as menuId,
             m.menu_store_id as menuStoreId,
             m.menu_price as menuPrice,
             m.menu_name as menuName,
             m.menu_discount as menuDiscount,
             m.menu_sales as menuSales,
             m.menu_img as menuImg,
             m.menu_type as menuType,
             m.menu_flavor as menuFlavor,
             m.menu_star as menuStar,
             m.menu_star_pecent as menuStarPecent,
             m.menu_del as menuDel,
             m.menu_is_nice as menuIsNice,
             sc.menu_num as menuNum,
             (m.menu_price*m.menu_discount/100) as priceAfterDiscount
        FROM
            menu m
            LEFT JOIN shopping_cart sc ON sc.menu_id = m.menu_id AND sc.user_id = #{userId}
        <where>
            m.menu_del=0
        <if test="storeId != null and storeId != ''">
            AND m.menu_store_id = #{storeId}
        </if>
        <if test="menuType != null and menuType != ''">
            AND m.menu_type = #{menuType}
        </if>

        </where>
        order by m.menu_sales desc
    </select>
    <select id="findShopCarList" resultType="com.zdb.demo.entity.Menu">
        SELECT
            sc.menu_id AS menuId,
            m.menu_name as menuName,
            m.menu_price as menuPrice,
            m.menu_discount as menuDiscount,
            m.menu_img as menuImg,
            sc.menu_num as menuNum,
            m.menu_flavor as menuFlavor
        FROM
            shopping_cart sc
            LEFT JOIN menu m ON m.menu_id = sc.menu_id
        WHERE
            sc.user_id = #{userId}
    </select>
    <sql id="Example_Where_Clause">
        <!--
        @mbggenerated
        -->
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <!--
        @mbggenerated
        -->
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        <!--
        @mbggenerated
        -->
        menu_id, menu_store_id, menu_name, menu_price, menu_discount, menu_sales, menu_img, 
        menu_type, menu_flavor, menu_star, menu_star_pecent, menu_del, menu_is_nice
    </sql>
    <select id="selectByExample" parameterType="com.zdb.demo.entity.MenuExample" resultMap="BaseResultMap">
        <!--
        @mbggenerated
        -->
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limitStart != null and limitStart>=0">
            limit #{limitStart} , #{limitEnd}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--
        @mbggenerated
        -->
        select 
        <include refid="Base_Column_List" />
        from menu
        where menu_id = #{menuId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--
        @mbggenerated
        -->
        delete from menu
        where menu_id = #{menuId,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.zdb.demo.entity.MenuExample">
        <!--
        @mbggenerated
        -->
        delete from menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.zdb.demo.entity.Menu">
        <!--
        @mbggenerated
        -->
        insert into menu (menu_id, menu_store_id, menu_name, 
            menu_price, menu_discount, menu_sales, 
            menu_img, menu_type, menu_flavor, 
            menu_star, menu_star_pecent, menu_del, 
            menu_is_nice)
        values (#{menuId,jdbcType=INTEGER}, #{menuStoreId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, 
            #{menuPrice,jdbcType=DECIMAL}, #{menuDiscount,jdbcType=DECIMAL}, #{menuSales,jdbcType=BIGINT}, 
            #{menuImg,jdbcType=VARCHAR}, #{menuType,jdbcType=INTEGER}, #{menuFlavor,jdbcType=INTEGER}, 
            #{menuStar,jdbcType=INTEGER}, #{menuStarPecent,jdbcType=DECIMAL}, #{menuDel,jdbcType=INTEGER}, 
            #{menuIsNice,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.zdb.demo.entity.Menu">
        <!--
        @mbggenerated
        -->
        insert into menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                menu_id,
            </if>
            <if test="menuStoreId != null">
                menu_store_id,
            </if>
            <if test="menuName != null">
                menu_name,
            </if>
            <if test="menuPrice != null">
                menu_price,
            </if>
            <if test="menuDiscount != null">
                menu_discount,
            </if>
            <if test="menuSales != null">
                menu_sales,
            </if>
            <if test="menuImg != null">
                menu_img,
            </if>
            <if test="menuType != null">
                menu_type,
            </if>
            <if test="menuFlavor != null">
                menu_flavor,
            </if>
            <if test="menuStar != null">
                menu_star,
            </if>
            <if test="menuStarPecent != null">
                menu_star_pecent,
            </if>
            <if test="menuDel != null">
                menu_del,
            </if>
            <if test="menuIsNice != null">
                menu_is_nice,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                #{menuId,jdbcType=INTEGER},
            </if>
            <if test="menuStoreId != null">
                #{menuStoreId,jdbcType=INTEGER},
            </if>
            <if test="menuName != null">
                #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="menuPrice != null">
                #{menuPrice,jdbcType=DECIMAL},
            </if>
            <if test="menuDiscount != null">
                #{menuDiscount,jdbcType=DECIMAL},
            </if>
            <if test="menuSales != null">
                #{menuSales,jdbcType=BIGINT},
            </if>
            <if test="menuImg != null">
                #{menuImg,jdbcType=VARCHAR},
            </if>
            <if test="menuType != null">
                #{menuType,jdbcType=INTEGER},
            </if>
            <if test="menuFlavor != null">
                #{menuFlavor,jdbcType=INTEGER},
            </if>
            <if test="menuStar != null">
                #{menuStar,jdbcType=INTEGER},
            </if>
            <if test="menuStarPecent != null">
                #{menuStarPecent,jdbcType=DECIMAL},
            </if>
            <if test="menuDel != null">
                #{menuDel,jdbcType=INTEGER},
            </if>
            <if test="menuIsNice != null">
                #{menuIsNice,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.zdb.demo.entity.MenuExample" resultType="java.lang.Integer">
        <!--
        @mbggenerated
        -->
        select count(*) from menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        <!--
        @mbggenerated
        -->
        update menu
        <set>
            <if test="record.menuId != null">
                menu_id = #{record.menuId,jdbcType=INTEGER},
            </if>
            <if test="record.menuStoreId != null">
                menu_store_id = #{record.menuStoreId,jdbcType=INTEGER},
            </if>
            <if test="record.menuName != null">
                menu_name = #{record.menuName,jdbcType=VARCHAR},
            </if>
            <if test="record.menuPrice != null">
                menu_price = #{record.menuPrice,jdbcType=DECIMAL},
            </if>
            <if test="record.menuDiscount != null">
                menu_discount = #{record.menuDiscount,jdbcType=DECIMAL},
            </if>
            <if test="record.menuSales != null">
                menu_sales = #{record.menuSales,jdbcType=BIGINT},
            </if>
            <if test="record.menuImg != null">
                menu_img = #{record.menuImg,jdbcType=VARCHAR},
            </if>
            <if test="record.menuType != null">
                menu_type = #{record.menuType,jdbcType=INTEGER},
            </if>
            <if test="record.menuFlavor != null">
                menu_flavor = #{record.menuFlavor,jdbcType=INTEGER},
            </if>
            <if test="record.menuStar != null">
                menu_star = #{record.menuStar,jdbcType=INTEGER},
            </if>
            <if test="record.menuStarPecent != null">
                menu_star_pecent = #{record.menuStarPecent,jdbcType=DECIMAL},
            </if>
            <if test="record.menuDel != null">
                menu_del = #{record.menuDel,jdbcType=INTEGER},
            </if>
            <if test="record.menuIsNice != null">
                menu_is_nice = #{record.menuIsNice,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        <!--
        @mbggenerated
        -->
        update menu
        set menu_id = #{record.menuId,jdbcType=INTEGER},
            menu_store_id = #{record.menuStoreId,jdbcType=INTEGER},
            menu_name = #{record.menuName,jdbcType=VARCHAR},
            menu_price = #{record.menuPrice,jdbcType=DECIMAL},
            menu_discount = #{record.menuDiscount,jdbcType=DECIMAL},
            menu_sales = #{record.menuSales,jdbcType=BIGINT},
            menu_img = #{record.menuImg,jdbcType=VARCHAR},
            menu_type = #{record.menuType,jdbcType=INTEGER},
            menu_flavor = #{record.menuFlavor,jdbcType=INTEGER},
            menu_star = #{record.menuStar,jdbcType=INTEGER},
            menu_star_pecent = #{record.menuStarPecent,jdbcType=DECIMAL},
            menu_del = #{record.menuDel,jdbcType=INTEGER},
            menu_is_nice = #{record.menuIsNice,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.zdb.demo.entity.Menu">
        <!--
        @mbggenerated
        -->
        update menu
        <set>
            <if test="menuStoreId != null">
                menu_store_id = #{menuStoreId,jdbcType=INTEGER},
            </if>
            <if test="menuName != null">
                menu_name = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="menuPrice != null">
                menu_price = #{menuPrice,jdbcType=DECIMAL},
            </if>
            <if test="menuDiscount != null">
                menu_discount = #{menuDiscount,jdbcType=DECIMAL},
            </if>
            <if test="menuSales != null">
                menu_sales = #{menuSales,jdbcType=BIGINT},
            </if>
            <if test="menuImg != null">
                menu_img = #{menuImg,jdbcType=VARCHAR},
            </if>
            <if test="menuType != null">
                menu_type = #{menuType,jdbcType=INTEGER},
            </if>
            <if test="menuFlavor != null">
                menu_flavor = #{menuFlavor,jdbcType=INTEGER},
            </if>
            <if test="menuStar != null">
                menu_star = #{menuStar,jdbcType=INTEGER},
            </if>
            <if test="menuStarPecent != null">
                menu_star_pecent = #{menuStarPecent,jdbcType=DECIMAL},
            </if>
            <if test="menuDel != null">
                menu_del = #{menuDel,jdbcType=INTEGER},
            </if>
            <if test="menuIsNice != null">
                menu_is_nice = #{menuIsNice,jdbcType=INTEGER},
            </if>
        </set>
        where menu_id = #{menuId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zdb.demo.entity.Menu">
        <!--
        @mbggenerated
        -->
        update menu
        set menu_store_id = #{menuStoreId,jdbcType=INTEGER},
            menu_name = #{menuName,jdbcType=VARCHAR},
            menu_price = #{menuPrice,jdbcType=DECIMAL},
            menu_discount = #{menuDiscount,jdbcType=DECIMAL},
            menu_sales = #{menuSales,jdbcType=BIGINT},
            menu_img = #{menuImg,jdbcType=VARCHAR},
            menu_type = #{menuType,jdbcType=INTEGER},
            menu_flavor = #{menuFlavor,jdbcType=INTEGER},
            menu_star = #{menuStar,jdbcType=INTEGER},
            menu_star_pecent = #{menuStarPecent,jdbcType=DECIMAL},
            menu_del = #{menuDel,jdbcType=INTEGER},
            menu_is_nice = #{menuIsNice,jdbcType=INTEGER}
        where menu_id = #{menuId,jdbcType=INTEGER}
    </update>
</mapper>