<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdb.demo.mapper.OrderMenuMapper">
    <resultMap id="BaseResultMap" type="com.zdb.demo.entity.OrderMenu">
        <!--
        @mbggenerated
        -->
        <id column="order_menu_id" jdbcType="INTEGER" property="orderMenuId" />
        <result column="order_id" jdbcType="INTEGER" property="orderId" />
        <result column="menu_id" jdbcType="INTEGER" property="menuId" />
        <result column="menu_num" jdbcType="INTEGER" property="menuNum" />
        <result column="order_menu_price" jdbcType="DECIMAL" property="orderMenuPrice" />
        <result column="menu_pepper" jdbcType="INTEGER" property="menuPepper" />
        <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
        <result column="menu_price_one" jdbcType="DECIMAL" property="menuPriceOne" />
        <result column="order_menu_state" jdbcType="INTEGER" property="orderMenuState" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <!--
        @mbggenerated
        -->
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <!--
        @mbggenerated
        -->
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        <!--
        @mbggenerated
        -->
        order_menu_id, order_id, menu_id, menu_num, order_menu_price, menu_pepper, menu_name,
        menu_price_one, order_menu_state
    </sql>
    <select id="selectByExample" parameterType="com.zdb.demo.entity.OrderMenuExample" resultMap="BaseResultMap">
        <!--
        @mbggenerated
        -->
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from order_menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limitStart != null and limitStart>=0">
            limit #{limitStart} , #{limitEnd}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--
        @mbggenerated
        -->
        select
        <include refid="Base_Column_List" />
        from order_menu
        where order_menu_id = #{orderMenuId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--
        @mbggenerated
        -->
        delete from order_menu
        where order_menu_id = #{orderMenuId,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.zdb.demo.entity.OrderMenuExample">
        <!--
        @mbggenerated
        -->
        delete from order_menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.zdb.demo.entity.OrderMenu">
        <!--
        @mbggenerated
        -->
        insert into order_menu (order_menu_id, order_id, menu_id,
        menu_num, order_menu_price, menu_pepper,
        menu_name, menu_price_one, order_menu_state
        )
        values (#{orderMenuId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER},
        #{menuNum,jdbcType=INTEGER}, #{orderMenuPrice,jdbcType=DECIMAL}, #{menuPepper,jdbcType=INTEGER},
        #{menuName,jdbcType=VARCHAR}, #{menuPriceOne,jdbcType=DECIMAL}, #{orderMenuState,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.zdb.demo.entity.OrderMenu">
        <!--
        @mbggenerated
        -->
        insert into order_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderMenuId != null">
                order_menu_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="menuId != null">
                menu_id,
            </if>
            <if test="menuNum != null">
                menu_num,
            </if>
            <if test="orderMenuPrice != null">
                order_menu_price,
            </if>
            <if test="menuPepper != null">
                menu_pepper,
            </if>
            <if test="menuName != null">
                menu_name,
            </if>
            <if test="menuPriceOne != null">
                menu_price_one,
            </if>
            <if test="orderMenuState != null">
                order_menu_state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderMenuId != null">
                #{orderMenuId,jdbcType=INTEGER},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=INTEGER},
            </if>
            <if test="menuId != null">
                #{menuId,jdbcType=INTEGER},
            </if>
            <if test="menuNum != null">
                #{menuNum,jdbcType=INTEGER},
            </if>
            <if test="orderMenuPrice != null">
                #{orderMenuPrice,jdbcType=DECIMAL},
            </if>
            <if test="menuPepper != null">
                #{menuPepper,jdbcType=INTEGER},
            </if>
            <if test="menuName != null">
                #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="menuPriceOne != null">
                #{menuPriceOne,jdbcType=DECIMAL},
            </if>
            <if test="orderMenuState != null">
                #{orderMenuState,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.zdb.demo.entity.OrderMenuExample" resultType="java.lang.Integer">
        <!--
        @mbggenerated
        -->
        select count(*) from order_menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        <!--
        @mbggenerated
        -->
        update order_menu
        <set>
            <if test="record.orderMenuId != null">
                order_menu_id = #{record.orderMenuId,jdbcType=INTEGER},
            </if>
            <if test="record.orderId != null">
                order_id = #{record.orderId,jdbcType=INTEGER},
            </if>
            <if test="record.menuId != null">
                menu_id = #{record.menuId,jdbcType=INTEGER},
            </if>
            <if test="record.menuNum != null">
                menu_num = #{record.menuNum,jdbcType=INTEGER},
            </if>
            <if test="record.orderMenuPrice != null">
                order_menu_price = #{record.orderMenuPrice,jdbcType=DECIMAL},
            </if>
            <if test="record.menuPepper != null">
                menu_pepper = #{record.menuPepper,jdbcType=INTEGER},
            </if>
            <if test="record.menuName != null">
                menu_name = #{record.menuName,jdbcType=VARCHAR},
            </if>
            <if test="record.menuPriceOne != null">
                menu_price_one = #{record.menuPriceOne,jdbcType=DECIMAL},
            </if>
            <if test="record.orderMenuState != null">
                order_menu_state = #{record.orderMenuState,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        <!--
        @mbggenerated
        -->
        update order_menu
        set order_menu_id = #{record.orderMenuId,jdbcType=INTEGER},
        order_id = #{record.orderId,jdbcType=INTEGER},
        menu_id = #{record.menuId,jdbcType=INTEGER},
        menu_num = #{record.menuNum,jdbcType=INTEGER},
        order_menu_price = #{record.orderMenuPrice,jdbcType=DECIMAL},
        menu_pepper = #{record.menuPepper,jdbcType=INTEGER},
        menu_name = #{record.menuName,jdbcType=VARCHAR},
        menu_price_one = #{record.menuPriceOne,jdbcType=DECIMAL},
        order_menu_state = #{record.orderMenuState,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.zdb.demo.entity.OrderMenu">
        <!--
        @mbggenerated
        -->
        update order_menu
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=INTEGER},
            </if>
            <if test="menuId != null">
                menu_id = #{menuId,jdbcType=INTEGER},
            </if>
            <if test="menuNum != null">
                menu_num = #{menuNum,jdbcType=INTEGER},
            </if>
            <if test="orderMenuPrice != null">
                order_menu_price = #{orderMenuPrice,jdbcType=DECIMAL},
            </if>
            <if test="menuPepper != null">
                menu_pepper = #{menuPepper,jdbcType=INTEGER},
            </if>
            <if test="menuName != null">
                menu_name = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="menuPriceOne != null">
                menu_price_one = #{menuPriceOne,jdbcType=DECIMAL},
            </if>
            <if test="orderMenuState != null">
                order_menu_state = #{orderMenuState,jdbcType=INTEGER},
            </if>
        </set>
        where order_menu_id = #{orderMenuId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zdb.demo.entity.OrderMenu">
        <!--
        @mbggenerated
        -->
        update order_menu
        set order_id = #{orderId,jdbcType=INTEGER},
        menu_id = #{menuId,jdbcType=INTEGER},
        menu_num = #{menuNum,jdbcType=INTEGER},
        order_menu_price = #{orderMenuPrice,jdbcType=DECIMAL},
        menu_pepper = #{menuPepper,jdbcType=INTEGER},
        menu_name = #{menuName,jdbcType=VARCHAR},
        menu_price_one = #{menuPriceOne,jdbcType=DECIMAL},
        order_menu_state = #{orderMenuState,jdbcType=INTEGER}
        where order_menu_id = #{orderMenuId,jdbcType=INTEGER}
    </update>
</mapper>